.item-detail{
    background-color: white;
    width: 1000px;
    display: flex;
    margin: 30px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.item-detail img{
    max-width: 300px;
    margin: 50px;
}
.item-detail-text{
    margin: 30px;
}
.item-detail-title{
    font-size: 1.5rem;
    margin: 10px 0;
}
.item-sku{
    margin: 10px 0;
    color: grey;
    font-size: .75rem;
    font-weight: bold;
}
.item-detail-cat{
    /* font-weight: bold; */
    font-size: .75rem;
    text-transform: capitalize;
}
.item-detail-price{
    margin: 15px 0;
    font-weight: bold;
    font-size: 1.1rem;
}
.item-detail-desc{
    font-size: .8rem;
    color: grey;
    margin-bottom: 15px;
}
.item-stock {
    font-size: .8rem;
    margin-bottom: 15px;
}