@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.spinner{
    margin-top: 50px;
}
.spinner i{
    font-size: 5rem;
    animation: rotation 1s infinite linear;
}