
  .item{
    width: 250px;
    background-color: white;
    margin: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
  }
  .item-img{
    text-align: center;
    height: 150px;
    margin: 20px 0;
  }
  .item-img img{
    max-height: 100%;
  }
  .item-id{
    font-size: .75rem;
    font-weight: bold;
  }
  .item-price{
    font-weight: bold;
  }
  .item-title{
    font-size: .9rem;
    height: 30px; /* Necesario para alojar hasta 2 líneas en el título*/
  }
  .item-text-container{
    padding-bottom: 15px;
  }