*{
  margin:0;
  padding:0;
  text-decoration: none;
  color:rgb(50, 50, 50);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
body{
  background-color: ghostwhite;
}
.navBar{
  padding: 10px 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: ghostwhite;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.nav-item{
  text-align: center;
  padding: 0px 20px;
  flex-grow: 1;
  transition: font-size .5s 0s;
}
.nav-item:hover{
  font-size: 17px;
  font-weight:600;
}
.logo img{
  width: 100px;
  padding: 10px;
  transition: width .3s 0s;
}
.logo img:hover{
  width: 115px;
}
.logo{
  width:150px;
  display: block;
  flex-grow: 1;
}
a>i{
  margin-right:8px;
  font-size: 12px;
}
.space{
  flex-grow:32;
}
.cart{
  padding: 0px 20px;
  font-size: 20px;
  transition: font-size .3s 0s;
}
.cart:hover{
  font-size: 25px;
}
.itemListContainer{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.itemListContainer p{
  margin: 10px 15px;
}
.item{
  width: 250px;
  background-color: ghostwhite;
  margin: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.item-img{
  text-align: center;
  height: 150px;
  margin: 20px 0;
}
.item-img img{
  max-height: 100%;
}
.item-id{
  font-size: .75rem;
  font-weight: bold;
}
.item-price{
  font-weight: bold;
}