<div>
    <label>
        label a
        <input type='text' name='a' placeholder='nombre' required/>
    </label>
</div>
<div>
    <label>
        label email
        <input type='email' name='email' placeholder='email@google.com' required/>
    </label>
</div>
<div>
    <label>
        label b
        <input type='password' name='b'/>
    </label>
</div>
<div>
    <label>
        label b
        <input type='number' name='n'/>
    </label>
</div>
<div>
    <label>
        label date
        <input type='date' name='d'/>
    </label>
</div>
<div>
    <label>
        gender male
        <input type='radio' name='g' id='male' value='male'/>
    </label>
</div>
<div>
    <label>
        gender female
        <input type='radio' name='g' id='female' value='female'/>
    </label>
</div>
<div>
    <label>desplegable</label>
    <select name='pais' id='pais'>
        <option value='arg'>Argentina</option>
        <option value='vzl' label='Venez'></option>
    </select>
</div>
<div>
    <textarea id='bio' name='bio'></textarea>
</div>
<button type='submit'>submit</button>